{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>This is a home page !</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

    #container {
        margin: auto;
        margin-top: 20px;
        width: 600px;
    }

</style>
{% endblock %}
